.root {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.root.full {
  min-height: 100vh;
}

.diagrams {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header {
  width: 90%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: var(--color-secondary-dark);
}

.btnLogout img {
  width: 25px;
  height: 25px;
}

@media(max-width: 920px) {
  .diagrams {
    flex-direction: column;
  }
  .header {
    margin-top: 15px;
  }
}