.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chartRoot {
  position: relative;
  
  width: 300px;
  height: 300px;
}

.chartRoot svg {
  transform: rotateZ(270deg);
}

.chartRoot svg .unit {
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;

  transition: all .1s linear;
}

.unit:hover {
  cursor: pointer;
}

.active {
  stroke: var(--color-secondary-dark);
}

.active.hovered {
  stroke: var(--color-primary-dark);
}

.inactive {
  stroke: var(--color-secondary);
}

.inactive.hovered {
  stroke: var(--color-primary);
}

.completed {
  stroke: var(--color-secondary-light);
}

.completed.hovered {
  stroke: var(--color-primary-light);
}

.chartInnerContent {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  text-align: center;
}

.chartInnerContent .title {
  font-weight: 500;
  font-size: 14px;
}

.chartInnerContent .mainValue {
  margin-top: 15px;

  font-weight: bold;
  font-size: 36px;
  color: var(--color-primary-bright)
}

.legend {
  width: 250px;
}

.legendItem {
  width: 100%;

  display: flex;
  justify-content: space-between;

  font-size: 14px;

  padding: 0;
}

.legendItem:nth-child(2) {
  padding: 10px 0;
}

.legendItem.hovered, .legendItemAll:hover {
  color: #9e59bc;
  text-decoration: underline;
}